/* Altera a cor de fundo do Swagger UI */
.swagger-ui {
    background-color: #f8f8f8;
  }
  
  /* Altera a cor do cabeçalho do Swagger UI */
  .swagger-ui .topbar {
    background-color: #333;
    color: #fff;
  }
  
  /* Altera a cor do texto nos botões do Swagger UI */
  .swagger-ui .opblock-summary .opblock-summary-method {
    color: #ff0000;
  }
  
  /* Altera a fonte usada no Swagger UI */
  .swagger-ui {
    font-family: Arial, sans-serif;
  }
  